In [20]:
import csv
import numpy as np
import pandas as pd
DS = pd.read_csv("MergedDS.csv")
# DS = DS[1:50000]
new_df = pd.DataFrame(DS["text"].str.split().tolist(), index=DS.text_ID).stack()
new_df = new_df.reset_index([0, 'text_ID'])
new_df.columns = ['text_ID', 'word']
new_df["tag"]= np.NaN
myList= list(new_df.text_ID.unique())
for i in range(len(myList)):
    Original = DS.loc[DS["text_ID"] == myList[i]]
    words = new_df.loc[new_df["text_ID"] == myList[i]]
    for OriginalIndex, OriginalRow in Original.iterrows():
        for index, row in words.iterrows():
                if(str(Original["object"][OriginalIndex]) in str(words["word"][index])):
                    new_df["tag"][index] = "object"
                elif(str(int(Original["value"][OriginalIndex])) in str(words["word"][index])):
                    new_df["tag"][index] = "value"

MemoryError: Unable to allocate 23.3 GiB for an array with shape (185888, 16850) and data type object

In [17]:
len(new_df)

4034505

In [18]:
len(new_df.text_ID.unique())

6619

In [13]:
new_df.head()

   text_ID            word  tag
0    45389         Kergelt  NaN
1    45389  liigkaaluline.  NaN
2    45389           Nahk,  NaN
3    45389     limaskestad  NaN
4    45389        tavalist  NaN

In [19]:
new_df.to_csv("DataAnnotated10000.csv",index=False)